<!DOCTYPE html>
<html>
    <head>
    	<!-- meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}ShopsNearBy | Welcome! Closet shops arround you{% endblock %}</title>
        
        <!-- CSS -->
        {% block stylesheets %}

        	<link rel="stylesheet" type="text/css" href="build/css/app.css">

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <!-- JavaScript -->
        {% block javascripts %}

        	<script type="text/javascript" src="build/js/app.js"></script>

        {% endblock %}
    </body>
</html>
